<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlipBlock3D_LevelEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FlipBlock3D_LevelEditor.Properties.Settings>
            <setting name="selectedLanguage" serializeAs="String">
                <value>(Default)</value>
            </setting>
            <setting name="showToolBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showLeftPanel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showRightPanel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showBottomStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="iconsSize" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="leftPanelSize" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="rightPanelSize" serializeAs="String">
                <value>280</value>
            </setting>
        </FlipBlock3D_LevelEditor.Properties.Settings>
    </userSettings>
</configuration>